In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_backup = pd.read_csv('./deliveries.csv')
data = data_backup.copy()
data.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [3]:
prev_data = pd.read_csv('./previous_data_per.csv')
prev_data['%'] = prev_data['Won'] / prev_data['Mat']
prev_data['%'] = prev_data['%'].apply(lambda x: round(x, 2))

In [4]:
original_df = data
# Convert 'start_date' to datetime if it's not already in datetime format
original_df['start_date'] = pd.to_datetime(original_df['start_date'])

# Group by match_id, innings, and venue
grouped_df = original_df.groupby(['match_id', 'innings', 'venue'])

# Calculate the required statistics for each group
result_df = grouped_df.agg({
    'batting_team': 'first',
    'bowling_team': 'first',
    'wides': 'sum',
    'noballs': 'sum',
    'byes': 'sum',
    'legbyes': 'sum',
    'runs_off_bat': 'sum',
    'ball': 'max',
    'wicket_type': lambda x: x.notnull().sum(),
    'start_date': 'first'
}).reset_index()

# Rename columns
result_df.columns = ['match_id', 'innings', 'venue', 'batting_team', 'bowling_team',
                      'total_wides', 'total_noballs', 'total_byes', 'total_legbyes', 'total_runs_per_innings_match',
                       'last_ball', 'total_wickets', 'date']

# Calculate 'total_overs_played' based on the 'ball' column
result_df['total_overs_played'] = result_df['last_ball'].apply(lambda x: min((int(x) + round((x % 1) * 10, 4) / 6), 50.0))

# Change dtype of 'total_wides' and 'total_noballs' to int
result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']] = result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']].astype(int)

# Add 'total_wides' and 'total_noballs' to 'total_runs_per_innings_match' per innings
result_df['total_runs_per_innings_match'] += result_df['total_wides'] + result_df['total_noballs'] + result_df['total_byes'] + result_df['total_legbyes']

result_df.drop(['last_ball'], axis=1, inplace=True)

In [5]:
result_df.head()

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_byes,total_legbyes,total_runs_per_innings_match,total_wickets,date,total_overs_played
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,0,0,0,282,9,2023-10-05,50.000000
1,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,4,1,283,1,2023-10-05,36.333333
2,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,8,1,0,0,286,10,2023-10-06,49.000000
3,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,0,0,205,10,2023-10-06,41.166667
4,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,8,0,0,0,156,10,2023-10-07,37.333333

In [6]:
result_df.drop(['total_wickets','date','match_id','total_wides', 'total_noballs', 'total_byes', 'total_legbyes'], axis=1, inplace=True)
result_df.head()

,innings,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played
0,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,282,50.000000
1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,36.333333
2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,286,49.000000
3,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,41.166667
4,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,156,37.333333

In [7]:
final_df = pd.merge(result_df,prev_data,left_on=['batting_team','bowling_team'],right_on=['Team','Opposition'],how='left')
final_df.drop(['Team','Opposition','Mat','Won','Lost'],axis=1,inplace=True)
final_df['%'].fillna(0.50,inplace=True)
final_df.head()

,innings,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,%
0,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,282,50.000000,0.46
1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,36.333333,0.47
2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,286,49.000000,0.50
3,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,41.166667,0.50
4,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,156,37.333333,0.38

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

mapping = {}
categorical_columns = ['venue','batting_team','bowling_team']

for column in categorical_columns:
    final_df[column] = le.fit_transform(final_df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [9]:
X=final_df.drop('total_overs_played',axis='columns')
y=final_df['total_overs_played']

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

size_scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = size_scaler.transform(X_train)
X_test_scaled = size_scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((51, 6), (13, 6))

In [20]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.6608080146921238

In [21]:
y_pred = model.predict(X_test)
y_pred

array([54.46758934, 44.25522787, 48.2253875 , 53.09561074, 36.23371855,
       44.7783668 , 50.0020989 , 52.46595684, 39.25257846, 36.52107479,
       43.98276931, 39.64346789, 46.89290285])

In [22]:
y_test

52    49.333333
58    49.666667
0     50.000000
44    50.000000
5     34.666667
36    49.833333
16    50.000000
12    50.000000
25    40.500000
61    32.500000
56    50.000000
9     41.333333
40    50.000000
Name: total_overs_played, dtype: float64

In [23]:
#print test and train mae

from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_train,model.predict(X_train)))
print(mean_absolute_error(y_test,y_pred))

3.122206294146001
3.850115875617411

In [24]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler


model = keras.Sequential([
    layers.Input(shape=(X_train.shape[1],)),  # Input layer
    layers.Dense(64, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1, activation='linear')  # Output layer with 1 unit and linear activation
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

early_stopping = EarlyStopping(monitor='val_loss', patience=10)

model.fit(X_train, y_train, epochs=500, batch_size=4, verbose=1, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/500
10/10 [==============================] - 1s 20ms/step - loss: 3624.0691 - mae: 58.7866 - val_loss: 2941.5564 - val_mae: 53.9209
Epoch 2/500
10/10 [==============================] - 0s 6ms/step - loss: 2298.0015 - mae: 47.0522 - val_loss: 2492.4216 - val_mae: 49.6747
Epoch 3/500
10/10 [==============================] - 0s 4ms/step - loss: 2026.3464 - mae: 44.2451 - val_loss: 2261.1843 - val_mae: 47.3305
Epoch 4/500
10/10 [==============================] - 0s 6ms/step - loss: 1887.0652 - mae: 42.7048 - val_loss: 2164.6592 - val_mae: 46.3129
Epoch 5/500
10/10 [==============================] - 0s 6ms/step - loss: 1813.7922 - mae: 41.8609 - val_loss: 2048.0146 - val_mae: 45.0549
Epoch 6/500
10/10 [==============================] - 0s 5ms/step - loss: 1706.3015 - mae: 40.6053 - val_loss: 1868.9438 - val_mae: 43.0539
Epoch 7/500
10/10 [==============================] - 0s 6ms/step - loss: 1510.9769 - mae: 38.2203 - val_loss: 1558.5200 - val_mae: 39.3291
Epoch 8/500
10/10 [==============================] - 0s 5ms/step - loss: 1213.9359 - mae: 34.1900 - val_loss: 1124.3589 - val_mae: 33.3973
Epoch 9/500
10/10 [==============================] - 0s 6ms/step - loss: 808.2711 - mae: 27.6574 - val_loss: 571.8278 - val_mae: 23.6455
Epoch 10/500
10/10 [==============================] - 0s 6ms/step - loss: 371.8689 - mae: 17.6912 - val_loss: 138.8906 - val_mae: 10.5307
Epoch 11/500
10/10 [==============================] - 0s 5ms/step - loss: 117.6626 - mae: 9.1735 - val_loss: 71.0024 - val_mae: 6.8192
Epoch 12/500
10/10 [==============================] - 0s 6ms/step - loss: 101.8003 - mae: 8.2886 - val_loss: 97.9057 - val_mae: 7.8260
Epoch 13/500
10/10 [==============================] - 0s 4ms/step - loss: 100.1856 - mae: 7.9835 - val_loss: 71.7920 - val_mae: 6.8232
Epoch 14/500
10/10 [==============================] - 0s 6ms/step - loss: 91.7888 - mae: 8.0981 - val_loss: 60.4203 - val_mae: 6.5309
Epoch 15/500
10/10 [==============================] - 0s 5ms/step - loss: 91.8549 - mae: 8.2150 - val_loss: 62.0753 - val_mae: 6.6236
Epoch 16/500
10/10 [==============================] - 0s 6ms/step - loss: 90.0549 - mae: 8.0811 - val_loss: 62.1641 - val_mae: 6.6249
Epoch 17/500
10/10 [==============================] - 0s 6ms/step - loss: 90.2674 - mae: 8.0717 - val_loss: 62.8056 - val_mae: 6.6424
Epoch 18/500
10/10 [==============================] - 0s 6ms/step - loss: 89.6406 - mae: 7.9683 - val_loss: 64.9207 - val_mae: 6.6921
Epoch 19/500
10/10 [==============================] - 0s 6ms/step - loss: 89.4750 - mae: 7.9370 - val_loss: 63.6739 - val_mae: 6.6602
Epoch 20/500
10/10 [==============================] - 0s 6ms/step - loss: 91.7360 - mae: 8.1819 - val_loss: 60.8713 - val_mae: 6.5661
Epoch 21/500
10/10 [==============================] - 0s 7ms/step - loss: 89.6740 - mae: 8.1054 - val_loss: 61.8454 - val_mae: 6.6028
Epoch 22/500
10/10 [==============================] - 0s 4ms/step - loss: 89.1288 - mae: 7.9412 - val_loss: 65.0553 - val_mae: 6.6817
Epoch 23/500
10/10 [==============================] - 0s 5ms/step - loss: 91.0717 - mae: 7.9512 - val_loss: 68.1707 - val_mae: 6.7346
Epoch 24/500
10/10 [==============================] - 0s 6ms/step - loss: 89.2864 - mae: 7.8428 - val_loss: 63.4348 - val_mae: 6.6390

In [25]:
train_loss, train_mae = model.evaluate(X_train, y_train, verbose=1)
print(f"Training MAE: {train_mae}")

# Evaluate on the test set
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=1)
print(f"Test MAE: {test_mae}")

2/2 [==============================] - 0s 4ms/step - loss: 83.2317 - mae: 7.6531
Training MAE: 7.65308952331543
1/1 [==============================] - 0s 24ms/step - loss: 76.8818 - mae: 7.8455
Test MAE: 7.845459461212158

In [27]:
# do decision tree regressor with hyperparameter tuning using grid sreach

from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

from sklearn.metrics import mean_absolute_error
#print test and train mae

print(mean_absolute_error(y_train,model.predict(X_train)))

print(mean_absolute_error(y_test,y_pred))

0.0
1.6794871794871797

In [30]:
#build decision tree model
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import  mean_absolute_error

dt = DecisionTreeRegressor(random_state=42)

params = {'max_depth': [3, 5, 7, 9, 11, 13, 15],
            'min_samples_split': [2, 4, 6, 8, 10, 12, 14, 16],
            'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8]}
gs = GridSearchCV(estimator=dt, param_grid=params, scoring='neg_mean_squared_error', cv=5, n_jobs=-1)

gs.fit(X_train, y_train)

print(gs.best_params_)

#print train and test mae

train_mae = mean_absolute_error(y_train, gs.predict(X_train))
test_mae = mean_absolute_error(y_test, gs.predict(X_test))

print(f"Training MAE: {train_mae}")
print(f"Test MAE: {test_mae}")

{'max_depth': 5, 'min_samples_leaf': 6, 'min_samples_split': 14}
Training MAE: 3.003896430367018
Test MAE: 1.9229947403024283

In [31]:
#export decision tree model using pickle
import pickle
pickle.dump(gs, open('over_model.pkl','wb'))