In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_backup = pd.read_csv('../deliveries.csv')
prev_data = pd.read_csv('../previous_data_per.csv')

In [3]:
prev_data['%'] = prev_data['Won'] / prev_data['Mat']

#rounding off the values

prev_data['%'] = prev_data['%'].apply(lambda x: round(x, 2))

In [4]:
data_backup.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = data_backup.copy()
data.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [6]:
original_df = data
# Convert 'start_date' to datetime if it's not already in datetime format
original_df['start_date'] = pd.to_datetime(original_df['start_date'])

# Group by match_id, innings, and venue
grouped_df = original_df.groupby(['match_id', 'innings', 'venue'])

# Calculate the required statistics for each group
result_df = grouped_df.agg({
    'batting_team': 'first',
    'bowling_team': 'first',
    'wides': 'sum',
    'noballs': 'sum',
    'runs_off_bat': 'sum',
    'ball': 'max',
    'wicket_type': lambda x: x.notnull().sum(),
    'start_date': 'first'
}).reset_index()

# Rename columns
result_df.columns = ['match_id', 'innings', 'venue', 'batting_team', 'bowling_team',
                      'total_wides', 'total_noballs', 'total_runs_per_innings_match',
                      'last_ball', 'total_wickets', 'start_date']

# Calculate 'total_overs_played' based on the 'ball' column
result_df['total_overs_played'] = result_df['last_ball'].apply(lambda x: min((int(x) + round((x % 1) * 10, 4) / 6), 50.0))

# Change dtype of 'total_wides' and 'total_noballs' to int
result_df[['total_wides', 'total_noballs']] = result_df[['total_wides', 'total_noballs']].astype(int)

# Add 'total_wides' and 'total_noballs' to 'total_runs_per_innings_match' per innings
result_df['total_runs_per_innings_match'] += result_df['total_wides'] + result_df['total_noballs']

In [7]:
result_df.head(5)

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_runs_per_innings_match,last_ball,total_wickets,start_date,total_overs_played
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,0,282,49.7,9,2023-10-05,50.000000
1,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,278,36.2,1,2023-10-05,36.333333
2,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,8,1,286,48.6,10,2023-10-06,49.000000
3,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,205,40.7,10,2023-10-06,41.166667
4,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,8,0,156,37.2,10,2023-10-07,37.333333

In [8]:
result_df = result_df[result_df['innings'] == 1]

In [9]:
result_df.head(5)

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_runs_per_innings_match,last_ball,total_wickets,start_date,total_overs_played
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,0,282,49.7,9,2023-10-05,50.000000
2,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,8,1,286,48.6,10,2023-10-06,49.000000
4,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,8,0,156,37.2,10,2023-10-07,37.333333
6,4,1,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,21,1,427,49.7,5,2023-10-07,50.000000
8,5,1,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,6,0,193,49.3,10,2023-10-08,49.500000

In [10]:
result_df.drop(['match_id','innings','total_wides','total_noballs','last_ball','total_wickets','start_date'],axis=1,inplace=True)

In [11]:
result_df.head(5)

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played
0,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,282,50.000000
2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,286,49.000000
4,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,156,37.333333
6,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,427,50.000000
8,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,193,49.500000

In [12]:
#in this result_df add winning_prob for batting team from previous_data_per.csv
#merge if batting_team == Team and bowling_team == Opponent

result_df = pd.merge(result_df,prev_data,left_on=['batting_team','bowling_team'],right_on=['Team','Opposition'],how='left')

In [13]:
result_df.head(5)

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,Team,Opposition,Mat,Won,Lost,%
0,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,282,50.000000,England,New Zealand,96.0,44.0,45.0,0.46
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,286,49.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,156,37.333333,Afghanistan,Bangladesh,16.0,6.0,10.0,0.38
3,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,427,50.000000,South Africa,Sri Lanka,81.0,46.0,33.0,0.57
4,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,193,49.500000,Australia,India,150.0,83.0,57.0,0.55

In [14]:
result_df.head(5)

result_df.drop(['Team','Opposition','Mat','Won','Lost'],axis=1,inplace=True)
result_df['%'].fillna(0.50,inplace=True)
result_df.head(5)

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,%
0,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,282,50.000000,0.46
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,286,49.000000,0.50
2,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,156,37.333333,0.38
3,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,427,50.000000,0.57
4,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,193,49.500000,0.55

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [16]:
mapping = {}
categorical_columns = ['venue','batting_team','bowling_team']

for column in categorical_columns:
    result_df[column] = le.fit_transform(result_df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [17]:
result_df.head(5)

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,%
0,7,3,6,282,50.000000,0.46
1,8,7,5,286,49.000000,0.50
2,3,0,2,156,37.333333,0.38
3,0,8,9,427,50.000000,0.57
4,5,1,4,193,49.500000,0.55

In [18]:
result_df.head(5)

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,%
0,7,3,6,282,50.000000,0.46
1,8,7,5,286,49.000000,0.50
2,3,0,2,156,37.333333,0.38
3,0,8,9,427,50.000000,0.57
4,5,1,4,193,49.500000,0.55

In [19]:
X=result_df.drop('total_runs_per_innings_match',axis='columns')
y=result_df['total_runs_per_innings_match']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=42)

size_scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = size_scaler.transform(X_train)
X_test_scaled = size_scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((28, 5), (4, 5))

In [21]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

model.score(X_test,y_test)

0.6576207909058753

In [22]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler


model = keras.Sequential([
    layers.Input(shape=(X_train.shape[1],)),  # Input layer
    layers.Dense(32, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1, activation='linear')  # Output layer with 1 unit and linear activation
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

early_stopping = EarlyStopping(monitor='val_loss', patience=10)

model.fit(X_train, y_train, epochs=500, batch_size=1, verbose=1, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/500
22/22 [==============================] - 1s 13ms/step - loss: 80972.4062 - mae: 275.3396 - val_loss: 89327.5312 - val_mae: 291.2532
Epoch 2/500
22/22 [==============================] - 0s 4ms/step - loss: 77739.3438 - mae: 269.4477 - val_loss: 85937.2109 - val_mae: 285.4497
Epoch 3/500
22/22 [==============================] - 0s 4ms/step - loss: 74099.8047 - mae: 262.7993 - val_loss: 81233.9609 - val_mae: 277.1699
Epoch 4/500
22/22 [==============================] - 0s 5ms/step - loss: 68814.9922 - mae: 252.6106 - val_loss: 74138.4062 - val_mae: 264.1966
Epoch 5/500
22/22 [==============================] - 0s 5ms/step - loss: 61065.3594 - mae: 237.0028 - val_loss: 64028.0117 - val_mae: 244.5410
Epoch 6/500
22/22 [==============================] - 0s 5ms/step - loss: 50798.1641 - mae: 213.4015 - val_loss: 50298.7852 - val_mae: 215.0170
Epoch 7/500
22/22 [==============================] - 0s 5ms/step - loss: 37176.8828 - mae: 181.1480 - val_loss: 35211.5352 - val_mae: 177.0508
Epoch 8/500
22/22 [==============================] - 0s 5ms/step - loss: 23541.0020 - mae: 138.2166 - val_loss: 19872.6426 - val_mae: 127.4757
Epoch 9/500
22/22 [==============================] - 0s 6ms/step - loss: 11673.9600 - mae: 90.5551 - val_loss: 9891.9902 - val_mae: 80.4953
Epoch 10/500
22/22 [==============================] - 0s 5ms/step - loss: 5723.7783 - mae: 54.4590 - val_loss: 4573.8521 - val_mae: 53.3586
Epoch 11/500
22/22 [==============================] - 0s 5ms/step - loss: 4359.4199 - mae: 51.1563 - val_loss: 3278.7070 - val_mae: 52.0780
Epoch 12/500
22/22 [==============================] - 0s 5ms/step - loss: 3807.3416 - mae: 49.2235 - val_loss: 3288.6453 - val_mae: 52.1385
Epoch 13/500
22/22 [==============================] - 0s 4ms/step - loss: 3942.2197 - mae: 49.3644 - val_loss: 3391.3318 - val_mae: 52.3750
Epoch 14/500
22/22 [==============================] - 0s 4ms/step - loss: 3777.9294 - mae: 49.5532 - val_loss: 3242.5596 - val_mae: 52.1908
Epoch 15/500
22/22 [==============================] - 0s 5ms/step - loss: 3848.9060 - mae: 50.1711 - val_loss: 3213.8074 - val_mae: 52.2052
Epoch 16/500
22/22 [==============================] - 0s 4ms/step - loss: 3809.3049 - mae: 50.3730 - val_loss: 3241.6641 - val_mae: 52.3048
Epoch 17/500
22/22 [==============================] - 0s 7ms/step - loss: 3847.8586 - mae: 50.6080 - val_loss: 3316.5908 - val_mae: 52.5184
Epoch 18/500
22/22 [==============================] - 0s 6ms/step - loss: 3816.8264 - mae: 48.7856 - val_loss: 3377.4172 - val_mae: 52.6819
Epoch 19/500
22/22 [==============================] - 0s 4ms/step - loss: 3796.1252 - mae: 49.2474 - val_loss: 3314.3984 - val_mae: 52.6383
Epoch 20/500
22/22 [==============================] - 0s 5ms/step - loss: 3859.4634 - mae: 50.4326 - val_loss: 3329.5618 - val_mae: 52.7430
Epoch 21/500
22/22 [==============================] - 0s 4ms/step - loss: 3764.0327 - mae: 49.2519 - val_loss: 3407.9211 - val_mae: 52.9175
Epoch 22/500
22/22 [==============================] - 0s 4ms/step - loss: 3820.5115 - mae: 50.0228 - val_loss: 3310.3254 - val_mae: 52.8173
Epoch 23/500
22/22 [==============================] - 0s 5ms/step - loss: 3784.4358 - mae: 49.1384 - val_loss: 3476.3362 - val_mae: 53.1118
Epoch 24/500
22/22 [==============================] - 0s 4ms/step - loss: 3785.8982 - mae: 49.3030 - val_loss: 3403.5107 - val_mae: 53.0976
Epoch 25/500
22/22 [==============================] - 0s 5ms/step - loss: 3791.8857 - mae: 49.7976 - val_loss: 3355.6868 - val_mae: 53.0733

In [23]:
train_loss, train_mae = model.evaluate(X_train, y_train, verbose=1)
print(f"Training MAE: {train_mae}")

# Evaluate on the test set
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=1)
print(f"Test MAE: {test_mae}")

1/1 [==============================] - 0s 239ms/step - loss: 3640.8918 - mae: 50.1344
Training MAE: 50.13442611694336
1/1 [==============================] - 0s 38ms/step - loss: 2776.4546 - mae: 47.3511
Test MAE: 47.35112380981445

In [24]:
# Predict on the test set
y_pred = model.predict(X_test)
y_pred

1/1 [==============================] - 0s 194ms/step

array([[297.5475 ],
       [291.88034],
       [209.27873],
       [289.30206]], dtype=float32)

In [25]:
y_test

29    239
15    284
24    153
17    356
Name: total_runs_per_innings_match, dtype: int64

In [26]:
#apply random forest regressor with hyperparameter tuning

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

rf = RandomForestRegressor()

n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
max_features = ['auto','sqrt']
max_depth = [int(x) for x in np.linspace(5,30,num=6)]
min_samples_split = [2,5,10,15,100]
min_samples_leaf = [1,2,5,10]

random_grid = {'n_estimators':n_estimators,
                'max_features':max_features,
                'max_depth':max_depth,
                'min_samples_split':min_samples_split,
                'min_samples_leaf':min_samples_leaf}

rf_random = RandomizedSearchCV(estimator=rf,param_distributions=random_grid,scoring='neg_mean_squared_error',n_iter=10,cv=5,verbose=2,random_state=42,n_jobs=1)

rf_random.fit(X_train,y_train)

print(rf_random.best_params_)

print(rf_random.best_score_)

predictions = rf_random.predict(X_test)
print(predictions)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   0.7s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   0.7s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   0.7s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   0.7s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   0.7s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.1s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   0.9s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   0.8s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   0.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   0.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   0.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.2s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.6s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.6s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.6s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.5s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s

E:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
20 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "E:\Anaconda\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "E:\Anaconda\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "E:\Anaconda\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "E:\Anaconda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
E:\Anaconda\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [-4770.05340914 -3664.66888837            nan            nan
            nan -3292.80559501 -5245.25400363 -4576.74654617
 -3701.55595219            nan]
  warnings.warn(

{'n_estimators': 1000, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 25}
-3292.8055950066673
[311.928 295.517 224.495 346.904]

In [27]:
y_test

29    239
15    284
24    153
17    356
Name: total_runs_per_innings_match, dtype: int64

In [28]:
y_pred = rf_random.predict(X_test)
print(abs(y_pred-y_test))

29    72.928
15    11.517
24    71.495
17     9.096
Name: total_runs_per_innings_match, dtype: float64

In [29]:
#print mean absolute error
print(np.mean(abs(y_pred-y_test)))
#print train mean absolute error
print(np.mean(abs(rf_random.predict(X_train)-y_train)))

41.259
16.625785714285715

In [30]:
import pickle as pkl

In [32]:
pkl.dump(model, open('../pickle/ing1_run_predict_model', 'wb'))