In [24]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
data_backup = pd.read_csv('../deliveries.csv')
data = data_backup.copy()
data.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [26]:
prev_data = pd.read_csv('../previous_data_per.csv')
prev_data['%'] = prev_data['Won'] / prev_data['Mat']
prev_data['%'] = prev_data['%'].apply(lambda x: round(x, 2))

In [27]:
original_df = data
# Convert 'start_date' to datetime if it's not already in datetime format
original_df['start_date'] = pd.to_datetime(original_df['start_date'])

# Group by match_id, innings, and venue
grouped_df = original_df.groupby(['match_id', 'innings', 'venue'])

# Calculate the required statistics for each group
result_df = grouped_df.agg({
    'batting_team': 'first',
    'bowling_team': 'first',
    'wides': 'sum',
    'noballs': 'sum',
    'byes': 'sum',
    'legbyes': 'sum',
    'runs_off_bat': 'sum',
    'ball': 'max',
    'wicket_type': lambda x: x.notnull().sum(),
    'start_date': 'first'
}).reset_index()

# Rename columns
result_df.columns = ['match_id', 'innings', 'venue', 'batting_team', 'bowling_team',
                      'total_wides', 'total_noballs', 'total_byes', 'total_legbyes', 'total_runs_per_innings_match',
                       'last_ball', 'total_wickets', 'date']

# Calculate 'total_overs_played' based on the 'ball' column
result_df['total_overs_played'] = result_df['last_ball'].apply(lambda x: min((int(x) + round((x % 1) * 10, 4) / 6), 50.0))

# Change dtype of 'total_wides' and 'total_noballs' to int
result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']] = result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']].astype(int)

# Add 'total_wides' and 'total_noballs' to 'total_runs_per_innings_match' per innings
result_df['total_runs_per_innings_match'] += result_df['total_wides'] + result_df['total_noballs'] + result_df['total_byes'] + result_df['total_legbyes']

result_df.drop(['last_ball'], axis=1, inplace=True)

In [28]:
result_df.head()

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_byes,total_legbyes,total_runs_per_innings_match,total_wickets,date,total_overs_played
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,0,0,0,282,9,2023-10-05,50.000000
1,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,4,1,283,1,2023-10-05,36.333333
2,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,8,1,0,0,286,10,2023-10-06,49.000000
3,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,0,0,205,10,2023-10-06,41.166667
4,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,8,0,0,0,156,10,2023-10-07,37.333333

In [29]:
final_df = result_df[result_df['innings'] == 2]

In [30]:
#extract run for innings 1 from result_df and add it to final_df
first_innings = result_df[result_df['innings'] == 1]
first_innings = first_innings[['match_id', 'total_runs_per_innings_match']]
first_innings.columns = ['match_id', 'total_runs_in_innings1']
final_df = pd.merge(final_df, first_innings, on='match_id')
final_df.head()

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_byes,total_legbyes,total_runs_per_innings_match,total_wickets,date,total_overs_played,total_runs_in_innings1
0,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,4,1,283,1,2023-10-05,36.333333,282
1,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,0,0,205,10,2023-10-06,41.166667,286
2,3,2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,4,1,0,3,158,4,2023-10-07,34.666667,156
3,4,2,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,14,1,0,5,326,10,2023-10-07,44.833333,428
4,5,2,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,5,1,1,1,201,4,2023-10-08,41.333333,199

In [31]:
final_df.drop(['match_id','innings','total_wides','total_noballs','total_noballs','total_byes','total_legbyes','date'],axis=1,inplace=True)

In [32]:
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_wickets,total_overs_played,total_runs_in_innings1
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,1,36.333333,282
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,10,41.166667,286
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,4,34.666667,156
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,10,44.833333,428
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,4,41.333333,199

In [33]:
final_df = pd.merge(final_df,prev_data,left_on=['batting_team','bowling_team'],right_on=['Team','Opposition'],how='left')
final_df.drop(['Team','Opposition','Mat','Won','Lost'],axis=1,inplace=True)
final_df['%'].fillna(0.50,inplace=True)
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_wickets,total_overs_played,total_runs_in_innings1,%
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,1,36.333333,282,0.47
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,10,41.166667,286,0.50
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,4,34.666667,156,0.62
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,10,44.833333,428,0.41
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,4,41.333333,199,0.38

In [34]:
final_df.drop(['total_wickets'],axis=1,inplace=True)
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,total_runs_in_innings1,%
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,36.333333,282,0.47
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,41.166667,286,0.50
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,34.666667,156,0.62
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,44.833333,428,0.41
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,41.333333,199,0.38

In [35]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

mapping = {}
categorical_columns = ['venue','batting_team','bowling_team']

for column in categorical_columns:
    final_df[column] = le.fit_transform(final_df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [36]:
mapping

{'venue': {'Arun Jaitley Stadium, Delhi': 0,
  'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow': 1,
  'Eden Gardens, Kolkata': 2,
  'Himachal Pradesh Cricket Association Stadium, Dharamsala': 3,
  'M Chinnaswamy Stadium, Bengaluru': 4,
  'MA Chidambaram Stadium, Chepauk, Chennai': 5,
  'Maharashtra Cricket Association Stadium, Pune': 6,
  'Narendra Modi Stadium, Ahmedabad': 7,
  'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 8,
  'Wankhede Stadium, Mumbai': 9},
 'batting_team': {'Afghanistan': 0,
  'Australia': 1,
  'Bangladesh': 2,
  'England': 3,
  'India': 4,
  'Netherlands': 5,
  'New Zealand': 6,
  'Pakistan': 7,
  'South Africa': 8,
  'Sri Lanka': 9},
 'bowling_team': {'Afghanistan': 0,
  'Australia': 1,
  'Bangladesh': 2,
  'England': 3,
  'India': 4,
  'Netherlands': 5,
  'New Zealand': 6,
  'Pakistan': 7,
  'South Africa': 8,
  'Sri Lanka': 9}}

In [37]:
X=final_df.drop('total_runs_per_innings_match',axis='columns')
y=final_df['total_runs_per_innings_match']

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=42)

size_scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = size_scaler.transform(X_train)
X_test_scaled = size_scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((28, 6), (4, 6))

In [39]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8703655888521367

In [40]:
#predict y_test
y_pred = model.predict(X_test)

In [41]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler


model = keras.Sequential([
    layers.Input(shape=(X_train.shape[1],)),  # Input layer
    layers.Dense(32, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1, activation='linear')  # Output layer with 1 unit and linear activation
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

early_stopping = EarlyStopping(monitor='val_loss', patience=10)

model.fit(X_train, y_train, epochs=500, batch_size=1, verbose=1, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/500

22/22 [==============================] - 1s 7ms/step - loss: 33944.3281 - mae: 173.4607 - val_loss: 22732.5547 - val_mae: 136.0475
Epoch 2/500
22/22 [==============================] - 0s 2ms/step - loss: 20423.3730 - mae: 131.8118 - val_loss: 10894.3311 - val_mae: 84.8510
Epoch 3/500
22/22 [==============================] - 0s 4ms/step - loss: 9681.0947 - mae: 89.1348 - val_loss: 5640.3335 - val_mae: 60.9229
Epoch 4/500
22/22 [==============================] - 0s 4ms/step - loss: 6291.0034 - mae: 66.6981 - val_loss: 5296.8638 - val_mae: 63.4415
Epoch 5/500
22/22 [==============================] - 0s 2ms/step - loss: 5062.9370 - mae: 58.1296 - val_loss: 5319.3638 - val_mae: 63.3629
Epoch 6/500
22/22 [==============================] - 0s 3ms/step - loss: 5265.1543 - mae: 58.9916 - val_loss: 5552.6733 - val_mae: 63.6389
Epoch 7/500
22/22 [==============================] - 0s 3ms/step - loss: 5245.8770 - mae: 59.2718 - val_loss: 5381.5088 - val_mae: 63.2524
Epoch 8/500
22/22 [==============================] - 0s 2ms/step - loss: 5312.9341 - mae: 58.7849 - val_loss: 5620.7163 - val_mae: 63.5032
Epoch 9/500
22/22 [==============================] - 0s 3ms/step - loss: 4961.6475 - mae: 57.3728 - val_loss: 5173.3188 - val_mae: 62.6917
Epoch 10/500
22/22 [==============================] - 0s 4ms/step - loss: 4986.0254 - mae: 57.7237 - val_loss: 5102.9468 - val_mae: 62.4299
Epoch 11/500
22/22 [==============================] - 0s 3ms/step - loss: 4955.7812 - mae: 57.3500 - val_loss: 5257.1362 - val_mae: 62.6042
Epoch 12/500
22/22 [==============================] - 0s 2ms/step - loss: 5004.3223 - mae: 57.5866 - val_loss: 5200.7271 - val_mae: 62.3830
Epoch 13/500
22/22 [==============================] - 0s 3ms/step - loss: 5151.0015 - mae: 57.7080 - val_loss: 5554.0151 - val_mae: 62.7788
Epoch 14/500
22/22 [==============================] - 0s 3ms/step - loss: 4940.2983 - mae: 57.7268 - val_loss: 5031.2544 - val_mae: 61.8701
Epoch 15/500
22/22 [==============================] - 0s 3ms/step - loss: 5032.6372 - mae: 58.5166 - val_loss: 4966.8970 - val_mae: 61.6207
Epoch 16/500
22/22 [==============================] - 0s 3ms/step - loss: 4842.4922 - mae: 57.0312 - val_loss: 5093.6929 - val_mae: 61.7368
Epoch 17/500
22/22 [==============================] - 0s 3ms/step - loss: 4897.8779 - mae: 56.5922 - val_loss: 5128.6743 - val_mae: 61.6669
Epoch 18/500
22/22 [==============================] - 0s 4ms/step - loss: 4909.8643 - mae: 56.1708 - val_loss: 5280.0488 - val_mae: 61.7760
Epoch 19/500
22/22 [==============================] - 0s 3ms/step - loss: 4817.0957 - mae: 56.6528 - val_loss: 4933.3086 - val_mae: 61.1251
Epoch 20/500
22/22 [==============================] - 0s 2ms/step - loss: 4789.5815 - mae: 56.4014 - val_loss: 4902.1309 - val_mae: 60.9673
Epoch 21/500
22/22 [==============================] - 0s 2ms/step - loss: 4833.9214 - mae: 56.4614 - val_loss: 5064.3135 - val_mae: 61.0912
Epoch 22/500
22/22 [==============================] - 0s 4ms/step - loss: 4756.4155 - mae: 55.8170 - val_loss: 4816.8501 - val_mae: 60.5552
Epoch 23/500
22/22 [==============================] - 0s 3ms/step - loss: 4735.3896 - mae: 56.7259 - val_loss: 4842.4331 - val_mae: 60.4863
Epoch 24/500
22/22 [==============================] - 0s 2ms/step - loss: 4733.3594 - mae: 55.7595 - val_loss: 5030.9302 - val_mae: 60.6422
Epoch 25/500
22/22 [==============================] - 0s 2ms/step - loss: 4709.3208 - mae: 56.1800 - val_loss: 4687.5488 - val_mae: 59.9571
Epoch 26/500
22/22 [==============================] - 0s 4ms/step - loss: 4759.4551 - mae: 57.3981 - val_loss: 4628.4072 - val_mae: 59.7199
Epoch 27/500
22/22 [==============================] - 0s 3ms/step - loss: 4641.8345 - mae: 55.4866 - val_loss: 4917.5308 - val_mae: 60.0604
Epoch 28/500
22/22 [==============================] - 0s 2ms/step - loss: 4640.1245 - mae: 55.1803 - val_loss: 4888.8887 - val_mae: 59.8868
Epoch 29/500
22/22 [==============================] - 0s 2ms/step - loss: 4783.8325 - mae: 56.7185 - val_loss: 4594.3672 - val_mae: 59.2848
Epoch 30/500
22/22 [==============================] - 0s 3ms/step - loss: 4590.3247 - mae: 54.7354 - val_loss: 4827.0298 - val_mae: 59.5468
Epoch 31/500
22/22 [==============================] - 0s 3ms/step - loss: 4583.7314 - mae: 54.8602 - val_loss: 4996.3071 - val_mae: 59.6235
Epoch 32/500
22/22 [==============================] - 0s 3ms/step - loss: 4619.8003 - mae: 56.7155 - val_loss: 4425.6978 - val_mae: 58.6093
Epoch 33/500
22/22 [==============================] - 0s 2ms/step - loss: 4491.5317 - mae: 55.1544 - val_loss: 4617.5132 - val_mae: 58.7934
Epoch 34/500
22/22 [==============================] - 0s 3ms/step - loss: 4477.5098 - mae: 54.4301 - val_loss: 4685.3203 - val_mae: 58.7825
Epoch 35/500
22/22 [==============================] - 0s 4ms/step - loss: 4602.9097 - mae: 56.2232 - val_loss: 4433.7485 - val_mae: 58.2200
Epoch 36/500
22/22 [==============================] - 0s 3ms/step - loss: 4615.8457 - mae: 54.4330 - val_loss: 4966.0234 - val_mae: 59.1668
Epoch 37/500
22/22 [==============================] - 0s 2ms/step - loss: 4618.7622 - mae: 55.8022 - val_loss: 4208.8452 - val_mae: 57.4887
Epoch 38/500
22/22 [==============================] - 0s 2ms/step - loss: 4526.0137 - mae: 54.4808 - val_loss: 4516.4922 - val_mae: 57.9102
Epoch 39/500
22/22 [==============================] - 0s 3ms/step - loss: 4429.6021 - mae: 53.7635 - val_loss: 4441.4194 - val_mae: 57.6534
Epoch 40/500
22/22 [==============================] - 0s 3ms/step - loss: 4689.1230 - mae: 57.5679 - val_loss: 4180.0669 - val_mae: 57.0489
Epoch 41/500
22/22 [==============================] - 0s 2ms/step - loss: 4411.5830 - mae: 54.2844 - val_loss: 4591.8394 - val_mae: 57.5591
Epoch 42/500
22/22 [==============================] - 0s 2ms/step - loss: 4330.2354 - mae: 53.6771 - val_loss: 4455.6245 - val_mae: 57.1776
Epoch 43/500
22/22 [==============================] - 0s 3ms/step - loss: 4305.8550 - mae: 53.1457 - val_loss: 4485.3291 - val_mae: 57.1173
Epoch 44/500
22/22 [==============================] - 0s 3ms/step - loss: 4294.8301 - mae: 54.0859 - val_loss: 4114.1704 - val_mae: 56.3780
Epoch 45/500
22/22 [==============================] - 0s 2ms/step - loss: 4379.0352 - mae: 53.9527 - val_loss: 4246.6948 - val_mae: 56.4311
Epoch 46/500
22/22 [==============================] - 0s 2ms/step - loss: 4253.6167 - mae: 53.9604 - val_loss: 4220.8140 - val_mae: 56.2766
Epoch 47/500
22/22 [==============================] - 0s 3ms/step - loss: 4169.0200 - mae: 52.9791 - val_loss: 4110.7251 - val_mae: 55.9050
Epoch 48/500
22/22 [==============================] - 0s 2ms/step - loss: 4238.6035 - mae: 53.9069 - val_loss: 3938.9231 - val_mae: 55.4212
Epoch 49/500
22/22 [==============================] - 0s 3ms/step - loss: 4278.3315 - mae: 53.8070 - val_loss: 4174.9683 - val_mae: 55.6454
Epoch 50/500
22/22 [==============================] - 0s 3ms/step - loss: 4171.0669 - mae: 52.6812 - val_loss: 4131.0762 - val_mae: 55.4457
Epoch 51/500
22/22 [==============================] - 0s 2ms/step - loss: 4153.3862 - mae: 53.2573 - val_loss: 3885.8789 - val_mae: 54.8467
Epoch 52/500
22/22 [==============================] - 0s 3ms/step - loss: 4113.8525 - mae: 53.4389 - val_loss: 3955.4873 - val_mae: 54.7848
Epoch 53/500
22/22 [==============================] - 0s 2ms/step - loss: 4364.1567 - mae: 51.8890 - val_loss: 4357.3198 - val_mae: 56.8221
Epoch 54/500
22/22 [==============================] - 0s 2ms/step - loss: 4021.0586 - mae: 52.4485 - val_loss: 3911.0637 - val_mae: 54.4405
Epoch 55/500
22/22 [==============================] - 0s 2ms/step - loss: 4012.1711 - mae: 52.5217 - val_loss: 3878.2812 - val_mae: 54.1702
Epoch 56/500
22/22 [==============================] - 0s 3ms/step - loss: 4114.7217 - mae: 53.5880 - val_loss: 3814.9187 - val_mae: 53.8624
Epoch 57/500
22/22 [==============================] - 0s 4ms/step - loss: 4067.3115 - mae: 51.2022 - val_loss: 4257.9150 - val_mae: 56.4980
Epoch 58/500
22/22 [==============================] - 0s 3ms/step - loss: 3868.3625 - mae: 51.4560 - val_loss: 3585.1311 - val_mae: 52.9789
Epoch 59/500
22/22 [==============================] - 0s 3ms/step - loss: 3935.0408 - mae: 52.0593 - val_loss: 3784.2405 - val_mae: 53.3680
Epoch 60/500
22/22 [==============================] - 0s 2ms/step - loss: 4079.7322 - mae: 53.8687 - val_loss: 3541.0911 - val_mae: 52.4438
Epoch 61/500
22/22 [==============================] - 0s 2ms/step - loss: 3857.7983 - mae: 51.8601 - val_loss: 3719.6172 - val_mae: 53.1838
Epoch 62/500
22/22 [==============================] - 0s 3ms/step - loss: 4192.8486 - mae: 51.0221 - val_loss: 3952.9636 - val_mae: 55.0068
Epoch 63/500
22/22 [==============================] - 0s 3ms/step - loss: 4152.6450 - mae: 54.4202 - val_loss: 3451.1184 - val_mae: 51.6748
Epoch 64/500
22/22 [==============================] - 0s 3ms/step - loss: 3744.3774 - mae: 51.3355 - val_loss: 3539.2083 - val_mae: 52.0202
Epoch 65/500
22/22 [==============================] - 0s 2ms/step - loss: 3796.8772 - mae: 50.3941 - val_loss: 3667.2832 - val_mae: 53.2876
Epoch 66/500
22/22 [==============================] - 0s 2ms/step - loss: 3719.5898 - mae: 50.2658 - val_loss: 3566.6111 - val_mae: 52.6114
Epoch 67/500
22/22 [==============================] - 0s 2ms/step - loss: 3865.3103 - mae: 50.4971 - val_loss: 3460.0264 - val_mae: 51.8082
Epoch 68/500
22/22 [==============================] - 0s 4ms/step - loss: 3686.8289 - mae: 48.6075 - val_loss: 3625.0930 - val_mae: 53.2876
Epoch 69/500
22/22 [==============================] - 0s 4ms/step - loss: 3624.5264 - mae: 49.9132 - val_loss: 3331.1023 - val_mae: 50.8552
Epoch 70/500
22/22 [==============================] - 0s 3ms/step - loss: 3653.6116 - mae: 50.9101 - val_loss: 3222.6609 - val_mae: 49.8703
Epoch 71/500
22/22 [==============================] - 0s 2ms/step - loss: 3607.1147 - mae: 49.8402 - val_loss: 3328.2068 - val_mae: 51.2372
Epoch 72/500
22/22 [==============================] - 0s 4ms/step - loss: 3574.5232 - mae: 48.8350 - val_loss: 3590.2532 - val_mae: 53.3805
Epoch 73/500
22/22 [==============================] - 0s 4ms/step - loss: 3711.2588 - mae: 50.2113 - val_loss: 3150.8213 - val_mae: 49.7485
Epoch 74/500
22/22 [==============================] - 0s 3ms/step - loss: 3626.0342 - mae: 48.5299 - val_loss: 3556.3127 - val_mae: 53.2809
Epoch 75/500
22/22 [==============================] - 0s 3ms/step - loss: 3510.5862 - mae: 48.3470 - val_loss: 3066.5261 - val_mae: 49.2364
Epoch 76/500
22/22 [==============================] - 0s 3ms/step - loss: 3511.8857 - mae: 50.0310 - val_loss: 3031.7214 - val_mae: 49.0807
Epoch 77/500
22/22 [==============================] - 0s 2ms/step - loss: 3436.0930 - mae: 49.3537 - val_loss: 3014.8557 - val_mae: 49.1187
Epoch 78/500
22/22 [==============================] - 0s 3ms/step - loss: 3525.6414 - mae: 48.0983 - val_loss: 3031.2549 - val_mae: 49.4845
Epoch 79/500
22/22 [==============================] - 0s 3ms/step - loss: 3444.6243 - mae: 48.6692 - val_loss: 3039.6111 - val_mae: 49.7465
Epoch 80/500
22/22 [==============================] - 0s 2ms/step - loss: 3430.7117 - mae: 47.1251 - val_loss: 3231.9724 - val_mae: 51.4288
Epoch 81/500
22/22 [==============================] - 0s 2ms/step - loss: 3250.1890 - mae: 46.9703 - val_loss: 2880.7117 - val_mae: 48.3624
Epoch 82/500
22/22 [==============================] - 0s 2ms/step - loss: 3269.4500 - mae: 47.7367 - val_loss: 2887.1504 - val_mae: 48.6502
Epoch 83/500
22/22 [==============================] - 0s 3ms/step - loss: 3269.3284 - mae: 46.7491 - val_loss: 2848.2607 - val_mae: 48.3991
Epoch 84/500
22/22 [==============================] - 0s 3ms/step - loss: 3226.8323 - mae: 47.5125 - val_loss: 2730.3486 - val_mae: 47.1404
Epoch 85/500
22/22 [==============================] - 0s 3ms/step - loss: 3173.5376 - mae: 46.5404 - val_loss: 2904.8718 - val_mae: 49.2249
Epoch 86/500
22/22 [==============================] - 0s 2ms/step - loss: 3240.8181 - mae: 46.5334 - val_loss: 2763.2666 - val_mae: 47.9723
Epoch 87/500
22/22 [==============================] - 0s 2ms/step - loss: 3123.5420 - mae: 46.7329 - val_loss: 2647.4287 - val_mae: 46.6742
Epoch 88/500
22/22 [==============================] - 0s 3ms/step - loss: 3418.1311 - mae: 46.5814 - val_loss: 2799.1350 - val_mae: 48.5489
Epoch 89/500
22/22 [==============================] - 0s 3ms/step - loss: 3338.8345 - mae: 48.8223 - val_loss: 2483.8386 - val_mae: 44.2199
Epoch 90/500
22/22 [==============================] - 0s 3ms/step - loss: 3034.2048 - mae: 45.9429 - val_loss: 2677.2507 - val_mae: 47.5769
Epoch 91/500
22/22 [==============================] - 0s 4ms/step - loss: 3142.7771 - mae: 45.0159 - val_loss: 2814.9707 - val_mae: 48.8903
Epoch 92/500
22/22 [==============================] - 0s 3ms/step - loss: 3196.1345 - mae: 48.0338 - val_loss: 2497.7549 - val_mae: 45.7702
Epoch 93/500
22/22 [==============================] - 0s 2ms/step - loss: 3007.4539 - mae: 45.3456 - val_loss: 2499.1843 - val_mae: 46.0035
Epoch 94/500
22/22 [==============================] - 0s 2ms/step - loss: 2970.4775 - mae: 45.4645 - val_loss: 2604.7981 - val_mae: 47.2543
Epoch 95/500
22/22 [==============================] - 0s 2ms/step - loss: 2923.7126 - mae: 44.4847 - val_loss: 2476.2053 - val_mae: 46.0195
Epoch 96/500
22/22 [==============================] - 0s 3ms/step - loss: 3180.1709 - mae: 47.6159 - val_loss: 2476.3796 - val_mae: 46.1288
Epoch 97/500
22/22 [==============================] - 0s 2ms/step - loss: 3050.0117 - mae: 43.3279 - val_loss: 2802.4824 - val_mae: 48.8459
Epoch 98/500
22/22 [==============================] - 0s 3ms/step - loss: 2875.0771 - mae: 43.8700 - val_loss: 2245.3088 - val_mae: 42.8649
Epoch 99/500
22/22 [==============================] - 0s 3ms/step - loss: 2814.2974 - mae: 44.4681 - val_loss: 2386.9514 - val_mae: 45.3788
Epoch 100/500
22/22 [==============================] - 0s 3ms/step - loss: 2959.4951 - mae: 45.1055 - val_loss: 2239.6956 - val_mae: 43.4084
Epoch 101/500
22/22 [==============================] - 0s 2ms/step - loss: 2784.3174 - mae: 42.9866 - val_loss: 2452.5984 - val_mae: 46.1086
Epoch 102/500
22/22 [==============================] - 0s 2ms/step - loss: 2743.4133 - mae: 42.5925 - val_loss: 2262.9910 - val_mae: 44.0966
Epoch 103/500
22/22 [==============================] - 0s 2ms/step - loss: 2734.6086 - mae: 43.1633 - val_loss: 2293.4429 - val_mae: 44.5621
Epoch 104/500
22/22 [==============================] - 0s 3ms/step - loss: 3075.0828 - mae: 47.9121 - val_loss: 2096.8931 - val_mae: 41.2711
Epoch 105/500
22/22 [==============================] - 0s 3ms/step - loss: 2806.9924 - mae: 41.5993 - val_loss: 2735.9319 - val_mae: 48.0791
Epoch 106/500
22/22 [==============================] - 0s 3ms/step - loss: 2743.9822 - mae: 43.1685 - val_loss: 2165.2351 - val_mae: 43.0600
Epoch 107/500
22/22 [==============================] - 0s 3ms/step - loss: 2835.9014 - mae: 44.6802 - val_loss: 2160.7500 - val_mae: 43.0779
Epoch 108/500
22/22 [==============================] - 0s 3ms/step - loss: 2711.1201 - mae: 41.7779 - val_loss: 2261.2712 - val_mae: 44.2609
Epoch 109/500
22/22 [==============================] - 0s 3ms/step - loss: 2606.4155 - mae: 41.6769 - val_loss: 2219.4749 - val_mae: 43.7974
Epoch 110/500
22/22 [==============================] - 0s 2ms/step - loss: 2592.1240 - mae: 42.6079 - val_loss: 2011.3654 - val_mae: 40.5687
Epoch 111/500
22/22 [==============================] - 0s 2ms/step - loss: 2621.8486 - mae: 42.8706 - val_loss: 2028.7670 - val_mae: 41.2142
Epoch 112/500
22/22 [==============================] - 0s 3ms/step - loss: 2487.3945 - mae: 41.4588 - val_loss: 2247.0281 - val_mae: 43.9411
Epoch 113/500
22/22 [==============================] - 0s 3ms/step - loss: 2667.4070 - mae: 41.2400 - val_loss: 2158.1377 - val_mae: 43.0443
Epoch 114/500
22/22 [==============================] - 0s 3ms/step - loss: 2712.5623 - mae: 43.4760 - val_loss: 1997.3883 - val_mae: 40.8082
Epoch 115/500
22/22 [==============================] - 0s 3ms/step - loss: 2551.0850 - mae: 42.9160 - val_loss: 2244.2861 - val_mae: 43.7792
Epoch 116/500
22/22 [==============================] - 0s 3ms/step - loss: 2551.7197 - mae: 41.4762 - val_loss: 2073.0908 - val_mae: 41.9930
Epoch 117/500
22/22 [==============================] - 0s 3ms/step - loss: 2453.9231 - mae: 41.7046 - val_loss: 2018.8695 - val_mae: 41.1885
Epoch 118/500
22/22 [==============================] - 0s 2ms/step - loss: 2643.6570 - mae: 43.1854 - val_loss: 2036.4429 - val_mae: 41.3761
Epoch 119/500
22/22 [==============================] - 0s 3ms/step - loss: 2385.5278 - mae: 40.9926 - val_loss: 1910.6569 - val_mae: 38.9971
Epoch 120/500
22/22 [==============================] - 0s 2ms/step - loss: 2539.7288 - mae: 42.3837 - val_loss: 2023.8129 - val_mae: 41.0907
Epoch 121/500
22/22 [==============================] - 0s 2ms/step - loss: 2375.1516 - mae: 40.6192 - val_loss: 1954.1836 - val_mae: 39.9481
Epoch 122/500
22/22 [==============================] - 0s 3ms/step - loss: 2395.9617 - mae: 41.1809 - val_loss: 1899.5809 - val_mae: 38.8440
Epoch 123/500
22/22 [==============================] - 0s 3ms/step - loss: 2417.1948 - mae: 40.5498 - val_loss: 2006.7496 - val_mae: 40.5005
Epoch 124/500
22/22 [==============================] - 0s 3ms/step - loss: 2558.3142 - mae: 41.7500 - val_loss: 1847.9922 - val_mae: 36.9688
Epoch 125/500
22/22 [==============================] - 0s 3ms/step - loss: 2293.7512 - mae: 40.7742 - val_loss: 2109.1311 - val_mae: 41.3690
Epoch 126/500
22/22 [==============================] - 0s 3ms/step - loss: 2427.2993 - mae: 40.8197 - val_loss: 1894.5563 - val_mae: 38.4971
Epoch 127/500
22/22 [==============================] - 0s 3ms/step - loss: 2286.8826 - mae: 39.9073 - val_loss: 1930.1001 - val_mae: 39.0514
Epoch 128/500
22/22 [==============================] - 0s 2ms/step - loss: 2262.0220 - mae: 39.8137 - val_loss: 1970.1569 - val_mae: 39.5298
Epoch 129/500
22/22 [==============================] - 0s 2ms/step - loss: 2271.9373 - mae: 39.7764 - val_loss: 1901.8478 - val_mae: 38.2704
Epoch 130/500
22/22 [==============================] - 0s 3ms/step - loss: 2228.2913 - mae: 39.5957 - val_loss: 1881.0928 - val_mae: 37.6650
Epoch 131/500
22/22 [==============================] - 0s 3ms/step - loss: 2366.0496 - mae: 40.2731 - val_loss: 2149.7327 - val_mae: 40.9131
Epoch 132/500
22/22 [==============================] - 0s 3ms/step - loss: 2395.8555 - mae: 40.1250 - val_loss: 1845.3488 - val_mae: 36.3802
Epoch 133/500
22/22 [==============================] - 0s 2ms/step - loss: 2206.8091 - mae: 39.0172 - val_loss: 2031.1440 - val_mae: 39.4370
Epoch 134/500
22/22 [==============================] - 0s 3ms/step - loss: 2185.3936 - mae: 39.2269 - val_loss: 1888.5127 - val_mae: 37.1620
Epoch 135/500
22/22 [==============================] - 0s 3ms/step - loss: 2299.6094 - mae: 40.3236 - val_loss: 1886.1276 - val_mae: 36.9740
Epoch 136/500
22/22 [==============================] - 0s 3ms/step - loss: 2297.5557 - mae: 39.3469 - val_loss: 1840.7406 - val_mae: 34.9633
Epoch 137/500
22/22 [==============================] - 0s 2ms/step - loss: 2254.8049 - mae: 39.4230 - val_loss: 2018.5123 - val_mae: 38.7554
Epoch 138/500
22/22 [==============================] - 0s 3ms/step - loss: 2293.5176 - mae: 41.6322 - val_loss: 1830.9491 - val_mae: 35.3168
Epoch 139/500
22/22 [==============================] - 0s 3ms/step - loss: 2220.1357 - mae: 39.8413 - val_loss: 2063.6541 - val_mae: 38.9927
Epoch 140/500
22/22 [==============================] - 0s 2ms/step - loss: 2209.4619 - mae: 39.0366 - val_loss: 1873.8159 - val_mae: 35.6083
Epoch 141/500
22/22 [==============================] - 0s 3ms/step - loss: 2092.1833 - mae: 38.6266 - val_loss: 1939.4291 - val_mae: 36.5739
Epoch 142/500
22/22 [==============================] - 0s 2ms/step - loss: 2098.7417 - mae: 38.5692 - val_loss: 1942.2969 - val_mae: 36.4399
Epoch 143/500

In [42]:
train_loss, train_mae = model.evaluate(X_train, y_train, verbose=1)
print(f"Training MAE: {train_mae}")

# Evaluate on the test set
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=1)
print(f"Test MAE: {test_mae}")

1/1 [==============================] - 0s 110ms/step - loss: 1965.7913 - mae: 37.4469
Training MAE: 37.44693374633789
1/1 [==============================] - 0s 20ms/step - loss: 949.6031 - mae: 25.4529
Test MAE: 25.452869415283203

In [43]:
y_pred = model.predict(X_test)
y_pred

1/1 [==============================] - 0s 53ms/step

array([[225.07664],
       [187.34067],
       [157.6532 ],
       [270.79932]], dtype=float32)

In [44]:
y_test

29    242
15    139
24    160
17    305
Name: total_runs_per_innings_match, dtype: int64

In [45]:
import pickle as pkl

In [46]:
pkl.dump(model, open('../pickle/ing2_run_predict_model', 'wb'))