In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_backup = pd.read_csv('./deliveries.csv')
data = data_backup.copy()
data.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [3]:
prev_data = pd.read_csv('./previous_data_per.csv')
prev_data['%'] = prev_data['Won'] / prev_data['Mat']
prev_data['%'] = prev_data['%'].apply(lambda x: round(x, 2))

In [4]:
stadium = pd.read_csv('./stadium_details.csv')

In [5]:
original_df = data
# Convert 'start_date' to datetime if it's not already in datetime format
original_df['start_date'] = pd.to_datetime(original_df['start_date'])

# Group by match_id, innings, and venue
grouped_df = original_df.groupby(['match_id', 'innings', 'venue'])

# Calculate the required statistics for each group
result_df = grouped_df.agg({
    'batting_team': 'first',
    'bowling_team': 'first',
    'wides': 'sum',
    'noballs': 'sum',
    'byes': 'sum',
    'legbyes': 'sum',
    'runs_off_bat': 'sum',
    'ball': 'max',
    'wicket_type': lambda x: x.notnull().sum(),
    'start_date': 'first'
}).reset_index()

result_df.columns = ['match_id', 'innings', 'venue', 'batting_team', 'bowling_team',
                      'total_wides', 'total_noballs', 'total_byes', 'total_legbyes', 'total_runs_per_innings_match',
                       'last_ball', 'total_wickets', 'date']

result_df['total_overs_played'] = result_df['last_ball'].apply(lambda x: min((int(x) + round((x % 1) * 10, 4) / 6), 50.0))

result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']] = result_df[['total_wides', 'total_noballs', 'total_byes', 'total_legbyes']].astype(int)

result_df['total_runs_per_innings_match'] += result_df['total_wides'] + result_df['total_noballs'] + result_df['total_byes'] + result_df['total_legbyes']

result_df.drop(['last_ball'], axis=1, inplace=True)

In [6]:
result_df.head()

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_byes,total_legbyes,total_runs_per_innings_match,total_wickets,date,total_overs_played
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,0,0,0,282,9,2023-10-05,50.000000
1,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,4,1,283,1,2023-10-05,36.333333
2,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,8,1,0,0,286,10,2023-10-06,49.000000
3,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,0,0,205,10,2023-10-06,41.166667
4,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,8,0,0,0,156,10,2023-10-07,37.333333

In [7]:
result_df = pd.merge(result_df, stadium, on='venue', how='left')

In [8]:
final_df = result_df[result_df['innings'] == 2]

In [9]:
#extract run for innings 1 from result_df and add it to final_df
first_innings = result_df[result_df['innings'] == 1]
first_innings = first_innings[['match_id', 'total_runs_per_innings_match']]
first_innings.columns = ['match_id', 'total_runs_in_innings1']
final_df = pd.merge(final_df, first_innings, on='match_id')
final_df.head()

,match_id,innings,venue,batting_team,bowling_team,total_wides,total_noballs,total_byes,total_legbyes,total_runs_per_innings_match,total_wickets,date,total_overs_played,won_after_bat_first,won_after_chase,first_inning_score,second_inning_score,total_runs_in_innings1
0,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,3,0,4,1,283,1,2023-10-05,36.333333,17,15,237,208,282
1,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,9,0,0,0,205,10,2023-10-06,41.166667,6,4,296,261,286
2,3,2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,4,1,0,3,158,4,2023-10-07,34.666667,4,5,253,228,156
3,4,2,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,14,1,0,5,326,10,2023-10-07,44.833333,16,16,239,208,428
4,5,2,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,5,1,1,1,201,4,2023-10-08,41.333333,18,20,229,208,199

In [10]:
final_df.drop(['match_id','innings','total_wides','total_noballs','total_noballs','total_byes','total_legbyes','date'],axis=1,inplace=True)

In [11]:
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_wickets,total_overs_played,won_after_bat_first,won_after_chase,first_inning_score,second_inning_score,total_runs_in_innings1
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,1,36.333333,17,15,237,208,282
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,10,41.166667,6,4,296,261,286
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,4,34.666667,4,5,253,228,156
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,10,44.833333,16,16,239,208,428
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,4,41.333333,18,20,229,208,199

In [12]:
final_df = pd.merge(final_df,prev_data,left_on=['batting_team','bowling_team'],right_on=['Team','Opposition'],how='left')
final_df.drop(['Team','Opposition','Mat','Won','Lost','won_after_bat_first','won_after_chase'],axis=1,inplace=True)
final_df['%'].fillna(0.50,inplace=True)
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_wickets,total_overs_played,first_inning_score,second_inning_score,total_runs_in_innings1,%
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,1,36.333333,237,208,282,0.47
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,10,41.166667,296,261,286,0.50
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,4,34.666667,253,228,156,0.62
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,10,44.833333,239,208,428,0.41
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,4,41.333333,229,208,199,0.38

In [13]:
final_df.drop(['total_wickets'],axis=1,inplace=True)
final_df.head()

,venue,batting_team,bowling_team,total_runs_per_innings_match,total_overs_played,first_inning_score,second_inning_score,total_runs_in_innings1,%
0,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,283,36.333333,237,208,282,0.47
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,205,41.166667,296,261,286,0.50
2,"Himachal Pradesh Cricket Association Stadium, ...",Bangladesh,Afghanistan,158,34.666667,253,228,156,0.62
3,"Arun Jaitley Stadium, Delhi",Sri Lanka,South Africa,326,44.833333,239,208,428,0.41
4,"MA Chidambaram Stadium, Chepauk, Chennai",India,Australia,201,41.333333,229,208,199,0.38

In [14]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

mapping = {}
categorical_columns = ['venue','batting_team','bowling_team']

for column in categorical_columns:
    final_df[column] = le.fit_transform(final_df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [15]:
mapping

{'venue': {'Arun Jaitley Stadium, Delhi': 0,
  'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow': 1,
  'Eden Gardens, Kolkata': 2,
  'Himachal Pradesh Cricket Association Stadium, Dharamsala': 3,
  'M Chinnaswamy Stadium, Bengaluru': 4,
  'MA Chidambaram Stadium, Chepauk, Chennai': 5,
  'Maharashtra Cricket Association Stadium, Pune': 6,
  'Narendra Modi Stadium, Ahmedabad': 7,
  'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 8,
  'Wankhede Stadium, Mumbai': 9},
 'batting_team': {'Afghanistan': 0,
  'Australia': 1,
  'Bangladesh': 2,
  'England': 3,
  'India': 4,
  'Netherlands': 5,
  'New Zealand': 6,
  'Pakistan': 7,
  'South Africa': 8,
  'Sri Lanka': 9},
 'bowling_team': {'Afghanistan': 0,
  'Australia': 1,
  'Bangladesh': 2,
  'England': 3,
  'India': 4,
  'Netherlands': 5,
  'New Zealand': 6,
  'Pakistan': 7,
  'South Africa': 8,
  'Sri Lanka': 9}}

In [16]:
X=final_df.drop('total_runs_per_innings_match',axis='columns')
y=final_df['total_runs_per_innings_match']

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

X_train[['total_overs_played','first_inning_score','second_inning_score','total_runs_in_innings1']] = scaler.fit_transform(X_train[['total_overs_played','first_inning_score','second_inning_score','total_runs_in_innings1']])
X_test[['total_overs_played','first_inning_score','second_inning_score','total_runs_in_innings1']] = scaler.transform(X_test[['total_overs_played','first_inning_score','second_inning_score','total_runs_in_innings1']])

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((22, 8), (10, 8), (22,), (10,))

In [23]:
import joblib
joblib.dump(scaler, 'scaler_inning2.pkl')

['scaler_inning2.pkl']

In [24]:
X_train.head()

,venue,batting_team,bowling_team,total_overs_played,first_inning_score,second_inning_score,total_runs_in_innings1,%
4,5,4,1,0.075552,-0.931894,-0.657453,-1.213141,0.38
16,6,4,2,0.096072,1.899828,1.642627,-0.475372,0.78
5,8,5,6,0.711678,1.597778,1.686859,0.378886,0.50
13,1,1,9,-0.663176,-1.045163,-0.790150,-1.083708,0.62
11,7,4,7,-1.258261,-0.629844,-0.657453,-1.316687,0.42

In [25]:
#apply decision tree regressor using grid search cv and hyperparameter tuning
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

dt = DecisionTreeRegressor(random_state=42)

params = {
    'max_depth': [3,4,5,6,7,8,9,10,11,12,13,14,15],
    'min_samples_leaf': [1,2,3,4,5,6,7,8,9,10]
}

gs = GridSearchCV(dt, params, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1)

gs.fit(X_train,y_train)

gs.best_params_

#print train and test mae

y_pred = gs.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)

print("Test MAE: ",mae)

#print train mae
y_pred = gs.predict(X_train)
mae = mean_absolute_error(y_train,y_pred)

print("Train MAE: ",mae)

Test MAE:  39.2982905982906
Train MAE:  40.635586635586634

In [27]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler


model = keras.Sequential([
    layers.Input(shape=(X_train.shape[1],)),  # Input layer
    # layers.Dense(100, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(1, activation='linear')  # Output layer with 1 unit and linear activation
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

early_stopping = EarlyStopping(monitor='val_loss', patience=10)

model.fit(X_train, y_train, epochs=750, batch_size=4, verbose=1, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/750
5/5 [==============================] - 2s 116ms/step - loss: 58108.4062 - mae: 229.6658 - val_loss: 38910.2070 - val_mae: 192.7237
Epoch 2/750
5/5 [==============================] - 0s 26ms/step - loss: 57723.7188 - mae: 228.8311 - val_loss: 38604.5742 - val_mae: 191.9359
Epoch 3/750
5/5 [==============================] - 0s 19ms/step - loss: 57301.0859 - mae: 227.9447 - val_loss: 38291.5273 - val_mae: 191.1264
Epoch 4/750
5/5 [==============================] - 0s 23ms/step - loss: 56886.3320 - mae: 227.0429 - val_loss: 37950.2539 - val_mae: 190.2371
Epoch 5/750
5/5 [==============================] - 0s 19ms/step - loss: 56422.2422 - mae: 226.0726 - val_loss: 37596.2070 - val_mae: 189.3079
Epoch 6/750
5/5 [==============================] - 0s 14ms/step - loss: 55962.1055 - mae: 225.0779 - val_loss: 37218.4883 - val_mae: 188.3109
Epoch 7/750
5/5 [==============================] - 0s 16ms/step - loss: 55457.1562 - mae: 223.9883 - val_loss: 36817.0742 - val_mae: 187.2461
Epoch 8/750
5/5 [==============================] - 0s 13ms/step - loss: 54911.6367 - mae: 222.7921 - val_loss: 36394.6055 - val_mae: 186.1193
Epoch 9/750
5/5 [==============================] - 0s 13ms/step - loss: 54303.1836 - mae: 221.5274 - val_loss: 35937.6484 - val_mae: 184.8867
Epoch 10/750
5/5 [==============================] - 0s 15ms/step - loss: 53691.3711 - mae: 220.1241 - val_loss: 35443.0312 - val_mae: 183.5426
Epoch 11/750
5/5 [==============================] - 0s 22ms/step - loss: 53019.3438 - mae: 218.6923 - val_loss: 34917.4492 - val_mae: 182.1042
Epoch 12/750
5/5 [==============================] - 0s 20ms/step - loss: 52295.3047 - mae: 217.0585 - val_loss: 34372.6445 - val_mae: 180.5988
Epoch 13/750
5/5 [==============================] - 0s 20ms/step - loss: 51542.8477 - mae: 215.3455 - val_loss: 33799.0312 - val_mae: 179.0030
Epoch 14/750
5/5 [==============================] - 0s 18ms/step - loss: 50752.6797 - mae: 213.4933 - val_loss: 33166.4492 - val_mae: 177.2280
Epoch 15/750
5/5 [==============================] - 0s 21ms/step - loss: 49822.1992 - mae: 211.4414 - val_loss: 32485.7500 - val_mae: 175.2942
Epoch 16/750
5/5 [==============================] - 0s 24ms/step - loss: 48929.4688 - mae: 209.2818 - val_loss: 31733.3809 - val_mae: 173.1320
Epoch 17/750
5/5 [==============================] - 0s 21ms/step - loss: 47821.7617 - mae: 206.7715 - val_loss: 30999.9648 - val_mae: 170.9918
Epoch 18/750
5/5 [==============================] - 0s 24ms/step - loss: 46782.2812 - mae: 204.3259 - val_loss: 30227.6621 - val_mae: 168.7005
Epoch 19/750
5/5 [==============================] - 0s 14ms/step - loss: 45623.8242 - mae: 201.5978 - val_loss: 29396.9785 - val_mae: 166.2000
Epoch 20/750
5/5 [==============================] - 0s 16ms/step - loss: 44454.9883 - mae: 198.6785 - val_loss: 28482.1719 - val_mae: 163.3935
Epoch 21/750
5/5 [==============================] - 0s 34ms/step - loss: 43127.2539 - mae: 195.3480 - val_loss: 27537.6934 - val_mae: 160.4365
Epoch 22/750
5/5 [==============================] - 0s 12ms/step - loss: 41753.2539 - mae: 191.9037 - val_loss: 26558.2305 - val_mae: 157.3010
Epoch 23/750
5/5 [==============================] - 0s 17ms/step - loss: 40409.7031 - mae: 188.3121 - val_loss: 25539.8594 - val_mae: 153.9688
Epoch 24/750
5/5 [==============================] - 0s 20ms/step - loss: 38954.6758 - mae: 184.3732 - val_loss: 24484.4062 - val_mae: 150.4245
Epoch 25/750
5/5 [==============================] - 0s 19ms/step - loss: 37427.6680 - mae: 180.4570 - val_loss: 23397.5215 - val_mae: 146.6702
Epoch 26/750
5/5 [==============================] - 0s 20ms/step - loss: 35781.7930 - mae: 175.8322 - val_loss: 22245.2090 - val_mae: 142.5724
Epoch 27/750
5/5 [==============================] - 0s 16ms/step - loss: 34138.3633 - mae: 171.3038 - val_loss: 21083.3242 - val_mae: 138.3064
Epoch 28/750
5/5 [==============================] - 0s 17ms/step - loss: 32539.9219 - mae: 166.3957 - val_loss: 19892.5098 - val_mae: 133.7829
Epoch 29/750
5/5 [==============================] - 0s 20ms/step - loss: 30879.6289 - mae: 161.2254 - val_loss: 18733.5938 - val_mae: 129.2060
Epoch 30/750
5/5 [==============================] - 0s 23ms/step - loss: 29157.1133 - mae: 155.8464 - val_loss: 17626.2480 - val_mae: 124.6412
Epoch 31/750
5/5 [==============================] - 0s 25ms/step - loss: 27497.3340 - mae: 150.5480 - val_loss: 16510.6523 - val_mae: 119.8054
Epoch 32/750
5/5 [==============================] - 0s 22ms/step - loss: 25870.8418 - mae: 145.1863 - val_loss: 15334.0264 - val_mae: 114.4583
Epoch 33/750
5/5 [==============================] - 0s 22ms/step - loss: 24292.5234 - mae: 139.1182 - val_loss: 14143.4404 - val_mae: 108.7564
Epoch 34/750
5/5 [==============================] - 0s 24ms/step - loss: 22607.3613 - mae: 132.6648 - val_loss: 13024.5801 - val_mae: 103.0405
Epoch 35/750
5/5 [==============================] - 0s 26ms/step - loss: 20988.6699 - mae: 126.4306 - val_loss: 11958.4746 - val_mae: 97.2078
Epoch 36/750
5/5 [==============================] - 0s 22ms/step - loss: 19322.4805 - mae: 119.8056 - val_loss: 10956.4707 - val_mae: 91.3108
Epoch 37/750
5/5 [==============================] - 0s 23ms/step - loss: 17939.1211 - mae: 114.0812 - val_loss: 9966.3018 - val_mae: 85.0064
Epoch 38/750
5/5 [==============================] - 0s 22ms/step - loss: 16444.9082 - mae: 107.9961 - val_loss: 9070.6797 - val_mae: 79.8751
Epoch 39/750
5/5 [==============================] - 0s 25ms/step - loss: 15195.7021 - mae: 102.4647 - val_loss: 8244.9277 - val_mae: 77.1959
Epoch 40/750
5/5 [==============================] - 0s 24ms/step - loss: 13978.7393 - mae: 97.0891 - val_loss: 7569.8203 - val_mae: 74.7517
Epoch 41/750
5/5 [==============================] - 0s 26ms/step - loss: 12926.7109 - mae: 92.4552 - val_loss: 7031.8789 - val_mae: 72.5491
Epoch 42/750
5/5 [==============================] - 0s 26ms/step - loss: 12126.4453 - mae: 88.6241 - val_loss: 6534.7383 - val_mae: 70.2365
Epoch 43/750
5/5 [==============================] - 0s 21ms/step - loss: 11338.8926 - mae: 84.9159 - val_loss: 6111.2622 - val_mae: 67.9739
Epoch 44/750
5/5 [==============================] - 0s 19ms/step - loss: 10655.3467 - mae: 82.8603 - val_loss: 5775.1895 - val_mae: 65.8742
Epoch 45/750
5/5 [==============================] - 0s 19ms/step - loss: 10034.9658 - mae: 80.7571 - val_loss: 5523.9155 - val_mae: 64.0212
Epoch 46/750
5/5 [==============================] - 0s 24ms/step - loss: 9610.5596 - mae: 79.0180 - val_loss: 5326.4883 - val_mae: 62.3064
Epoch 47/750
5/5 [==============================] - 0s 14ms/step - loss: 9225.1182 - mae: 77.0125 - val_loss: 5189.7627 - val_mae: 60.9266
Epoch 48/750
5/5 [==============================] - 0s 23ms/step - loss: 8965.3623 - mae: 75.7236 - val_loss: 5070.5713 - val_mae: 59.5392
Epoch 49/750
5/5 [==============================] - 0s 26ms/step - loss: 8647.2441 - mae: 74.4951 - val_loss: 4961.3320 - val_mae: 58.4680
Epoch 50/750
5/5 [==============================] - 0s 22ms/step - loss: 8446.0664 - mae: 73.8479 - val_loss: 4872.0171 - val_mae: 58.6042
Epoch 51/750
5/5 [==============================] - 0s 19ms/step - loss: 8156.6050 - mae: 72.6396 - val_loss: 4814.5273 - val_mae: 58.7076
Epoch 52/750
5/5 [==============================] - 0s 21ms/step - loss: 7976.9575 - mae: 71.7917 - val_loss: 4779.9805 - val_mae: 58.7734
Epoch 53/750
5/5 [==============================] - 0s 22ms/step - loss: 7719.1831 - mae: 70.5558 - val_loss: 4757.8594 - val_mae: 58.7360
Epoch 54/750
5/5 [==============================] - 0s 22ms/step - loss: 7668.9619 - mae: 69.9702 - val_loss: 4750.8154 - val_mae: 58.7636
Epoch 55/750
5/5 [==============================] - 0s 25ms/step - loss: 7514.0352 - mae: 69.3676 - val_loss: 4742.0010 - val_mae: 58.6705
Epoch 56/750
5/5 [==============================] - 0s 26ms/step - loss: 7395.0127 - mae: 68.8323 - val_loss: 4708.7227 - val_mae: 58.4179
Epoch 57/750
5/5 [==============================] - 0s 24ms/step - loss: 7333.1240 - mae: 68.4258 - val_loss: 4673.4165 - val_mae: 58.1552
Epoch 58/750
5/5 [==============================] - 0s 15ms/step - loss: 7278.8984 - mae: 68.0763 - val_loss: 4654.5068 - val_mae: 57.9753
Epoch 59/750
5/5 [==============================] - 0s 16ms/step - loss: 7218.0815 - mae: 67.7735 - val_loss: 4638.0454 - val_mae: 57.8098
Epoch 60/750
5/5 [==============================] - 0s 15ms/step - loss: 7165.8633 - mae: 67.5163 - val_loss: 4617.8540 - val_mae: 57.6409
Epoch 61/750
5/5 [==============================] - 0s 17ms/step - loss: 7090.6484 - mae: 67.1479 - val_loss: 4612.4819 - val_mae: 57.5231
Epoch 62/750
5/5 [==============================] - 0s 17ms/step - loss: 7042.9839 - mae: 67.0740 - val_loss: 4627.6914 - val_mae: 57.4311
Epoch 63/750
5/5 [==============================] - 0s 18ms/step - loss: 6970.6255 - mae: 66.6306 - val_loss: 4608.6182 - val_mae: 57.2259
Epoch 64/750
5/5 [==============================] - 0s 18ms/step - loss: 6920.3052 - mae: 66.3758 - val_loss: 4607.8037 - val_mae: 57.0879
Epoch 65/750
5/5 [==============================] - 0s 16ms/step - loss: 6849.3481 - mae: 66.0390 - val_loss: 4607.4062 - val_mae: 56.9463
Epoch 66/750
5/5 [==============================] - 0s 20ms/step - loss: 6793.5771 - mae: 65.8790 - val_loss: 4633.0269 - val_mae: 56.8479
Epoch 67/750
5/5 [==============================] - 0s 21ms/step - loss: 6752.0801 - mae: 65.7136 - val_loss: 4651.3721 - val_mae: 56.7128
Epoch 68/750
5/5 [==============================] - 0s 23ms/step - loss: 6691.5342 - mae: 65.4260 - val_loss: 4637.3838 - val_mae: 56.5231
Epoch 69/750
5/5 [==============================] - 0s 22ms/step - loss: 6643.1289 - mae: 65.1503 - val_loss: 4600.7568 - val_mae: 56.3039
Epoch 70/750
5/5 [==============================] - 0s 20ms/step - loss: 6603.7085 - mae: 64.7654 - val_loss: 4536.3545 - val_mae: 56.0259
Epoch 71/750
5/5 [==============================] - 0s 22ms/step - loss: 6553.1680 - mae: 64.4183 - val_loss: 4480.3682 - val_mae: 55.7779
Epoch 72/750
5/5 [==============================] - 0s 21ms/step - loss: 6528.2251 - mae: 64.0882 - val_loss: 4445.3936 - val_mae: 55.5588
Epoch 73/750
5/5 [==============================] - 0s 27ms/step - loss: 6497.0962 - mae: 63.8455 - val_loss: 4415.3022 - val_mae: 55.3530
Epoch 74/750
5/5 [==============================] - 0s 22ms/step - loss: 6447.4312 - mae: 63.5075 - val_loss: 4403.5059 - val_mae: 55.1832
Epoch 75/750
5/5 [==============================] - 0s 21ms/step - loss: 6424.1914 - mae: 63.5746 - val_loss: 4415.5820 - val_mae: 55.0520
Epoch 76/750
5/5 [==============================] - 0s 21ms/step - loss: 6362.0640 - mae: 63.1986 - val_loss: 4401.6943 - val_mae: 54.8738
Epoch 77/750
5/5 [==============================] - 0s 23ms/step - loss: 6327.8325 - mae: 63.0436 - val_loss: 4434.0288 - val_mae: 54.7669
Epoch 78/750
5/5 [==============================] - 0s 22ms/step - loss: 6285.6953 - mae: 63.0001 - val_loss: 4450.1401 - val_mae: 54.8630
Epoch 79/750
5/5 [==============================] - 0s 22ms/step - loss: 6243.8413 - mae: 62.8361 - val_loss: 4480.9429 - val_mae: 55.1965
Epoch 80/750
5/5 [==============================] - 0s 24ms/step - loss: 6200.3574 - mae: 62.6248 - val_loss: 4500.5986 - val_mae: 55.4292
Epoch 81/750
5/5 [==============================] - 0s 20ms/step - loss: 6180.3154 - mae: 62.5426 - val_loss: 4516.3608 - val_mae: 55.6344
Epoch 82/750
5/5 [==============================] - 0s 21ms/step - loss: 6149.4858 - mae: 62.3213 - val_loss: 4465.8359 - val_mae: 55.3938
Epoch 83/750
5/5 [==============================] - 0s 16ms/step - loss: 6111.6143 - mae: 62.0129 - val_loss: 4461.0396 - val_mae: 55.4423
Epoch 84/750
5/5 [==============================] - 0s 15ms/step - loss: 6049.1826 - mae: 61.6238 - val_loss: 4408.7275 - val_mae: 55.1716
Epoch 85/750
5/5 [==============================] - 0s 10ms/step - loss: 6052.6528 - mae: 61.4321 - val_loss: 4335.8628 - val_mae: 54.7600
Epoch 86/750
5/5 [==============================] - 0s 11ms/step - loss: 6000.2197 - mae: 61.0579 - val_loss: 4307.5361 - val_mae: 54.6673
Epoch 87/750
5/5 [==============================] - 0s 11ms/step - loss: 5973.5537 - mae: 60.7892 - val_loss: 4261.4668 - val_mae: 54.4379
Epoch 88/750
5/5 [==============================] - 0s 14ms/step - loss: 5927.4414 - mae: 60.4918 - val_loss: 4252.1538 - val_mae: 54.4621
Epoch 89/750
5/5 [==============================] - 0s 20ms/step - loss: 5915.3296 - mae: 60.3192 - val_loss: 4215.1802 - val_mae: 54.2869
Epoch 90/750
5/5 [==============================] - 0s 21ms/step - loss: 5864.3081 - mae: 59.9724 - val_loss: 4231.9883 - val_mae: 54.5068
Epoch 91/750
5/5 [==============================] - 0s 24ms/step - loss: 5827.7671 - mae: 59.8589 - val_loss: 4282.6787 - val_mae: 54.9299
Epoch 92/750
5/5 [==============================] - 0s 24ms/step - loss: 5794.0034 - mae: 59.6876 - val_loss: 4322.3203 - val_mae: 55.2535
Epoch 93/750
5/5 [==============================] - 0s 26ms/step - loss: 5762.3984 - mae: 59.5693 - val_loss: 4352.8315 - val_mae: 55.4967
Epoch 94/750
5/5 [==============================] - 0s 21ms/step - loss: 5751.6592 - mae: 59.6791 - val_loss: 4379.3164 - val_mae: 55.6884
Epoch 95/750
5/5 [==============================] - 0s 22ms/step - loss: 5726.7803 - mae: 59.6606 - val_loss: 4324.3887 - val_mae: 55.4097
Epoch 96/750
5/5 [==============================] - 0s 22ms/step - loss: 5686.3809 - mae: 59.2410 - val_loss: 4238.5181 - val_mae: 54.9464
Epoch 97/750
5/5 [==============================] - 0s 12ms/step - loss: 5670.8813 - mae: 58.9989 - val_loss: 4145.7900 - val_mae: 54.4029
Epoch 98/750
5/5 [==============================] - 0s 15ms/step - loss: 5615.4844 - mae: 58.4023 - val_loss: 4108.5117 - val_mae: 54.2071
Epoch 99/750
5/5 [==============================] - 0s 37ms/step - loss: 5586.5835 - mae: 58.2152 - val_loss: 4099.7397 - val_mae: 54.1953
Epoch 100/750
5/5 [==============================] - 0s 16ms/step - loss: 5563.6650 - mae: 58.1651 - val_loss: 4088.6929 - val_mae: 54.1603
Epoch 101/750
5/5 [==============================] - 0s 13ms/step - loss: 5545.4453 - mae: 57.9909 - val_loss: 4026.7954 - val_mae: 53.7893
Epoch 102/750
5/5 [==============================] - 0s 15ms/step - loss: 5515.4146 - mae: 57.6096 - val_loss: 3997.9243 - val_mae: 53.6409
Epoch 103/750
5/5 [==============================] - 0s 18ms/step - loss: 5483.9272 - mae: 57.4917 - val_loss: 4011.2571 - val_mae: 53.7966
Epoch 104/750
5/5 [==============================] - 0s 23ms/step - loss: 5445.1440 - mae: 57.4254 - val_loss: 4027.3027 - val_mae: 53.9636
Epoch 105/750
5/5 [==============================] - 0s 14ms/step - loss: 5419.0317 - mae: 57.3808 - val_loss: 4036.0493 - val_mae: 54.0666
Epoch 106/750
5/5 [==============================] - 0s 14ms/step - loss: 5400.6992 - mae: 57.3641 - val_loss: 4024.5071 - val_mae: 54.0266
Epoch 107/750
5/5 [==============================] - 0s 14ms/step - loss: 5381.5039 - mae: 57.2824 - val_loss: 4013.6851 - val_mae: 53.9828
Epoch 108/750
5/5 [==============================] - 0s 9ms/step - loss: 5380.9814 - mae: 57.1824 - val_loss: 3925.8210 - val_mae: 53.4512
Epoch 109/750
5/5 [==============================] - 0s 16ms/step - loss: 5315.3179 - mae: 56.5088 - val_loss: 3861.2390 - val_mae: 53.0470
Epoch 110/750
5/5 [==============================] - 0s 24ms/step - loss: 5298.9297 - mae: 56.1716 - val_loss: 3781.9016 - val_mae: 52.5067
Epoch 111/750
5/5 [==============================] - 0s 21ms/step - loss: 5278.6836 - mae: 55.9762 - val_loss: 3706.9673 - val_mae: 51.9670
Epoch 112/750
5/5 [==============================] - 0s 16ms/step - loss: 5268.9644 - mae: 55.9025 - val_loss: 3634.8652 - val_mae: 51.4253
Epoch 113/750
5/5 [==============================] - 0s 18ms/step - loss: 5287.1992 - mae: 55.9208 - val_loss: 3590.4517 - val_mae: 51.1030
Epoch 114/750
5/5 [==============================] - 0s 14ms/step - loss: 5249.8325 - mae: 55.6597 - val_loss: 3591.1387 - val_mae: 51.1928
Epoch 115/750
5/5 [==============================] - 0s 12ms/step - loss: 5227.6509 - mae: 55.5720 - val_loss: 3571.1758 - val_mae: 51.0945
Epoch 116/750
5/5 [==============================] - 0s 13ms/step - loss: 5197.5122 - mae: 55.4947 - val_loss: 3590.1223 - val_mae: 51.3390
Epoch 117/750
5/5 [==============================] - 0s 15ms/step - loss: 5191.6367 - mae: 55.6495 - val_loss: 3635.2930 - val_mae: 51.7445
Epoch 118/750
5/5 [==============================] - 0s 16ms/step - loss: 5125.5542 - mae: 55.2516 - val_loss: 3623.7800 - val_mae: 51.7067
Epoch 119/750
5/5 [==============================] - 0s 15ms/step - loss: 5090.2905 - mae: 55.1738 - val_loss: 3646.6719 - val_mae: 51.9237
Epoch 120/750
5/5 [==============================] - 0s 13ms/step - loss: 5093.6440 - mae: 55.2729 - val_loss: 3677.2729 - val_mae: 52.1621
Epoch 121/750
5/5 [==============================] - 0s 15ms/step - loss: 5043.4951 - mae: 55.0081 - val_loss: 3678.0405 - val_mae: 52.1719
Epoch 122/750
5/5 [==============================] - 0s 13ms/step - loss: 5026.8564 - mae: 54.9992 - val_loss: 3641.7310 - val_mae: 51.9489
Epoch 123/750
5/5 [==============================] - 0s 18ms/step - loss: 4985.9771 - mae: 54.7451 - val_loss: 3662.6030 - val_mae: 52.1079
Epoch 124/750
5/5 [==============================] - 0s 26ms/step - loss: 4987.6406 - mae: 54.9086 - val_loss: 3738.9375 - val_mae: 52.5434
Epoch 125/750
5/5 [==============================] - 0s 28ms/step - loss: 4935.2495 - mae: 54.9654 - val_loss: 3769.6204 - val_mae: 52.6840

In [28]:
train_loss, train_mae = model.evaluate(X_train, y_train, verbose=1)
print(f"Training MAE: {train_mae}")

# Evaluate on the test set
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=1)
print(f"Test MAE: {test_mae}")

1/1 [==============================] - 0s 41ms/step - loss: 4656.5723 - mae: 54.4854
Training MAE: 54.48538589477539
1/1 [==============================] - 0s 58ms/step - loss: 6743.8618 - mae: 63.4977
Test MAE: 63.49773025512695

In [29]:
#implementing random forest regressor with hyperparameter tuning

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

rf = RandomForestRegressor(random_state=42)

params = {
    'n_estimators': [100,200,300,400,500],
    'max_depth': [3,4,5,6,7,8,9,10,11,12,13,14,15],
    'min_samples_leaf': [1,2,3,4,5,6,7,8,9,10]
}

rs = RandomizedSearchCV(rf, params, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1)

rs.fit(X_train,y_train)

print(rs.best_params_)

#print train and test mae

y_pred = rs.predict(X_test)

mae = mean_absolute_error(y_test,y_pred)

print("Test MAE: ",mae)

#print train mae

y_pred = rs.predict(X_train)

mae = mean_absolute_error(y_train,y_pred)

print("Train MAE: ",mae)

{'n_estimators': 200, 'min_samples_leaf': 4, 'max_depth': 11}
Test MAE:  38.529490367965366
Train MAE:  33.27735869118254

In [ ]:
#export this rs model to pickle file
import pickle
pickle.dump(rs,open('inning_2_run.pkl','wb'))

In [30]:
#predict dummy_2

dummy_2 = pd.read_csv('./dummy_2.csv')

#everything has been done till now, just need to predict the runs
dummy_2.head()

pred = rs.predict(dummy_2)

pred

array([281.13265462, 280.32687685, 288.64614326, 275.62601375,
       288.34851826, 289.03601826, 274.79240264, 279.59831931,
       290.59788731, 281.50001573, 279.73995026, 288.93913731,
       279.80546216])